<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ukf_sensor_fusion.yaml" />

    //<!--  Placeholder for output topic remapping
    //<remap from="odometry/filtered" to=""/>
    //<remap from="accel/filtered" to=""/>
    //-->

  </node>

   <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu0" args="0 0 0 0 0 0 base_link imu_0" />




</launch>
