<launch>


	<!-- Kalman filter - EKF -->

	<include
	file = "$(find robot_localization)/launch/ekf_template.launch"
	/>

	<!-- DVL -->
	
	<node pkg="dvl1000_ros" type="publisherDVL1000.py" name="publisherDVL1000" />
	

	<!--Static transform from base_link to DVL_frame --> 

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_DVL" args="0 0 0 0 0 0 base_link dvl_link 100" />





	
	





</launch>
