<launch>

	<!-- Stim300 driver -->

	<node 
	pkg = "drivers-imu_stim300"
	type = "stim300"
	name = "stim300_driver"
	
	args="/dev/ttyUSB0"
	/>

	
	<!-- complementary filter -->
	
	<include
	file = "$(find imu_complementary_filter)/launch/complementary_filter.launch" 
	/>

	<!-- Kalman filter -->

	<include
	file = "$(find robot_localization)/launch/ekf_imu.launch"
	/>
	
	<!--Static transform from base_link to imu_frame --> 

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu0" args="0 0 0 0 0 0 base_link imu_0 100" />


	<!--EM7180 (IMU - magnetometer and visualizer) -->

	<include
	file="$(find em7180)/launch/em7180.launch"
	/>

	<!--Static transform from base_link to EM7180_frame -->

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_em7180" args="0 0 0 0 0 0 base_link magnetometer_link 100" />

	<!--Static transform from Em7180 to imu_0 -->

	<node pkg="tf" type="static_transform_publisher" name="em7180_to_stim300" args="-0.035 -0.017 -0.03 0 3.14159 0 em7180_link imu_0 100" />


	<!-- DVL -->
	
	<node pkg="dvl1000_ros" type="publisherDVL1000.py" name="publisherDVL1000" />
	

	<!--Static transform from base_link to DVL_frame --> 

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_DVL" args="0 0 0 0 0 3.14 base_link dvl_link 100" />


</launch>
