<launch>

	<!-- Stim300 driver -->

	<node 
	pkg = "drivers-imu_stim300"
	type = "stim300"
	name = "stim300_driver"
	
	args="/dev/ttyUSB0"
	/>

	
	<!-- complementary filter -- >
	
	<include
	file = "$(find imu_complementary_filter)/complementary_filter.launch" 
	/>

	<!-- Kalman filter -- >

	<include
	file = "$(find robot_localization)/ukf_template.launch"
	/>

	<!-- DVL -- >
	
	<node
	pkg="dvl1000_ros"
	type ="publisher_DVl1000.py"
	name ="DVL1000"
	/>

</launch>
